services:
  postgres:
    image: postgres:16-alpine
    container_name: cloud-db
    environment:
      POSTGRES_USER: cloud
      POSTGRES_PASSWORD: cloud
      POSTGRES_DB: miniaws
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cloud -d miniaws"]
      interval: 5s
      timeout: 5s
      retries: 5
