apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: csi-thecloud-node
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: csi-thecloud-node
  template:
    metadata:
      labels:
        app: csi-thecloud-node
    spec:
      serviceAccountName: csi-thecloud-node
      hostNetwork: true
      containers:
        - name: csi-node-driver-registrar
          image: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.10.1
          args:
            - "--v=2"
            - "--csi-address=$(ADDRESS)"
            - "--kubelet-registration-path=$(DRIVER_REG_SOCK_PATH)"
          env:
            - name: ADDRESS
              value: /csi/csi.sock
            - name: DRIVER_REG_SOCK_PATH
              value: /var/lib/kubelet/plugins/csi.thecloud.io/csi.sock
          volumeMounts:
            - name: plugin-dir
              mountPath: /csi
            - name: registration-dir
              mountPath: /registration
        - name: thecloud-csi-driver
          image: ghcr.io/poyrazk/thecloud-csi-driver:latest # Placeholder
          securityContext:
            privileged: true
            capabilities:
              add: ["SYS_ADMIN"]
            allowPrivilegeEscalation: true
          args:
            - "--endpoint=unix:/csi/csi.sock"
            - "--nodeid=$(NODE_ID)"
            - "--api-url=http://thecloud-api.kube-system.svc.cluster.local:8080"
          env:
            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: CLOUD_API_KEY
              valueFrom:
                secretKeyRef:
                  name: thecloud-api-credentials
                  key: api-key
          volumeMounts:
            - name: plugin-dir
              mountPath: /csi
            - name: pods-mount-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: "Bidirectional"
            - name: device-dir
              mountPath: /dev
      volumes:
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry/
            type: Directory
        - name: plugin-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi.thecloud.io/
            type: DirectoryOrCreate
        - name: pods-mount-dir
          hostPath:
            path: /var/lib/kubelet/pods
            type: Directory
        - name: device-dir
          hostPath:
            path: /dev
            type: Directory
